@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    background-image: linear-gradient(
        55deg,
        hsl(0deg 0% 0%) 0%,
        hsl(120deg 100% 5%) 8%,
        hsl(97deg 100% 6%) 21%,
        hsl(89deg 100% 7%) 60%,
        hsl(92deg 100% 9%) 81%,
        hsl(91deg 100% 11%) 89%,
        hsl(88deg 100% 13%) 94%,
        hsl(85deg 100% 15%) 97%,
        hsl(82deg 100% 17%) 99%,
        hsl(81deg 86% 20%) 100%
      );    
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #000101;
}

body::-webkit-scrollbar-thumb{
    background-color: #202020;
    border-color:#363636;
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-family: 'Raleway', Helvetica, sans-serif;
}


.div-Principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #ffffff;
}

.div-button {
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    bottom: 0;

    margin-bottom: 70px;
}
.button-ensi{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;


    font-size: 2em;
    color: #ffffff;
    
    border: #7ec100;
    border-radius: 10px;
    background-color: #7ec100;  

    bottom:0;  
    cursor:pointer;
    
    &:hover{
        opacity: 50%;
        padding-left: 102px;
        padding-right: 102px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
}




/** TITULO*/
.titulo-principal{
    text-align: center;
    margin: auto;
}
.h1-titulo{
    display: inline-flex;
    font-size: 6.7rem;
    text-shadow: 0 0 20px #fff;
    user-select: none;
}
.h1-titulo:nth-child(2){
    color: #112213;

    font-size: 6rem;
    text-shadow:none;
    transition: all .2s ease;
    cursor: pointer;
}
.h1-titulo:nth-child(2) a{
    text-decoration: none;
    color: #112213;
    animation: h1-onoff 1.5s linear alternate infinite; 
}



@keyframes h1-onoff{
    from{
        text-shadow:none;
    }
    to{
        color: #7ec100;
        text-shadow: 0 0 25px #7ec100;
    }
}



/** Header*/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

    
    background: transparent ;
    border: solid #363636 1px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.header .logo img{
    width: 60px;
    filter: brightness(.7);

    transition: all 0.3s;
    background: none;

    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}


.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    color: #c5b88d;
    padding: 0 20px;
    
}

.header .nav-links a{
    font-size: 1em;
    font-weight: 590;
    color: #fffe; 
    text-shadow: 0 0 100px #fff;

    &:hover{
        color: #7ec100;
    }
}
.menu{
    display: none;
}
.header .btn button,
.header .menu button{
    font-weight: 600;
    font-size: 1.05em;
    color: #eceff1;

    border: solid #eceff1 1px;
    padding: 9px 25px;
    background: none;
    border-radius: 50px;


    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #000000;
    transform: scale(1.09);
}


@media screen and (max-width: 800px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }

}





/**¨Nav*/
.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;


    background-color: #0006;
    backdrop-filter: blur(50px);
    overflow: hidden;

    transition: all .1s linear;
}
.header .overlay .overlay-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header .overlay a{
    padding: 15px;
    display: block;


    font-size: 2.05em;
    color: #eceff1;
    font-weight: 700;
    

}
.header .overlay a:hover,
.header .overlay a:focus{
    color: #7ec100;
}
.header .overlay .close{
    position: absolute;

    font-size: 65px;

    top:20px;
    right: 5px;
}


@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/** Footer*/
.pie-pagina{
    display: grid;

    border: solid #363636 1px;
    border-left: none;
    border-right:none;
    border-bottom: none;

    min-width: 100%;
    margin-top: auto;

    background: transparent;
    bottom: 0;
}
.pie-pagina .grupo-1{
    margin: 15px 0;

    text-align: center;
}
.pie-pagina .grupo-1 .red-social a{
    place-self: center;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;

    
    
    line-height: 45px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px; 
    text-align: center;
    

    border: 1px solid #ffffff;
    border-radius: 60px ;
    transition: 0.3s;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #ffffff;
    color: #0a141d;
}

.grupo-2{
    background-color: transparent;
    margin: 5px 0;

    color: #ffffff;
    text-align: center;
}


.Unlimix-nombre{
    font-weight: 500px;
    font-family: sans-serif;
    font-size: 40px;
}
.nav-link{
    padding: 15px 10px ;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 40px;

    font-weight: 550px; 
    
    &:hover{
        color: #7ec100;
 }
}

.div-logo-nombre{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.div-logo-nombre>img{
    height: 150px;
    margin-left: 20px;
}
h2{
    padding-left: 10px;
}

.h3{
    text-align: center;
    font-weight: 600px;
    font-size: 40px;
    margin:30px;
    
}



/** contenedor juegos */
.contenedor-juegos{
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;


    &>a{
        color: #fff;
        text-decoration: none
    }
}

.contenedor-elements-games{
    background-color: #000;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;

    &:hover{
        opacity: .9;
    }
}
.juegoFormula1{
    background-image: url(../img/image-games/juego-f1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafo-item-name{
    background-color: #0009;
    border: solid 2px #fff9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 40px;
    width: 150px;


}
.AdvertenciaJuegos{
    text-align: center;
    margin: 20px;
    font-size: 2rem;

    &>span{
        animation: h1-onoff 1.5s linear alternate infinite; 
    }
}

/** BOTON DOWNLOAD */

.gamef1-download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
.game-skma{
    min-width: 400px;
    display: flex;
    background-color: #0004;
    border-radius: 20px;
}
.requeriments-gamef1{
    text-align: center;
    flex-grow: 3;
}
.titulo-requirements{
    font-weight: bold;
    margin: 5px;
}
.gamef1-lista{list-style: none;}

.gamef1-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;

    flex: 3;
    
}
.foto-download{
    width: 200px;
    border-radius: 10px 0 0 0;
}
.button-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gamef1-button{
    width: 150px;
    height: 40px;
    margin: 10px;
    position: relative;


    background-color: #000;
    border: #000;
    border-radius: 10px;
    
    cursor: pointer;
}
.gamef1-button > a{
    text-decoration: none;
    color: #fff;
    
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.gamef1-button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, 
        #f00, #00f, #ff1493, #00f, 
        #f00, #00f, #ff1493, #00f);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.trabajando-en-eso{
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo-ello{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.parrafo-ello::after{
    content: "";
    animation: loading 1.5s steps(1, end) infinite;
}

@keyframes loading {
    0%{
        content: "";
    }
    25%{
        content: ".";
    }
    50%{
        content: "..";
    }
    75%{
        content: "...";
    }
    100%{
        content: "";
    }
}
.h3Volver{
    margin: 20px;

    &>a{
        color: #fff;
        background-color: #0009;
    
        padding: 10px;
    }
}
